.container {
    display: flex;             /* Enable Flexbox */
    justify-content: end;   /* Center horizontally */
    align-items: flex-start;   /* Align items at the top */
    height: 100vh;            /* Full height of the viewport */
}


.title {
    justify-content: flex-end;
    font-size: 45px; 
    margin: 30px 0;          /* Add margin to position it down from the top */
    text-align: center;       /* Center text for multiline if needed */
}

button {
    background-color: antiquewhite;
    justify-content: end;
}