.title{
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: bold;
    justify-content:left;
    position: relative;
    padding: 30px;
}

/* Enables scrolling as more jobs are being added*/
.table-container{ 
    max-height: 400px; /* Adjust height as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
}

table{
    font-family: sans-serif;
    width: 100%;
    border-collapse: collapse; 
    background-color: antiquewhite;
}

th{
    background-color:rgba(187, 214, 250, 0.811);
}

tr{
    background-color: white;
}

th , tr, td{
    border: 1.5px solid black;
    text-align: center;
    padding: 20px; 
}

.login-button{
    background-color: darkgrey;
    padding-top: 10px;
}

.login-button:hover{
    background-color: green;
}

h1{
    padding-top: 10px;
}

p{
    padding-top:5px;
    padding-bottom:10px;
}