.notification-title{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    position: relative;
    padding: 20px;
}

.notification-table-container table{
    font-family: sans-serif;
    width: 90%;
    border-collapse: collapse; 
    margin: 0 auto; 
    color: black;
}

.notification-table-container th{
    background-color: rgb(247, 224, 218);
}

.notification-table-container tr{
    background-color: white;
}

.notification-table-container td{
    justify-content: center;
}

.notification-table-container th , tr, td{
    border: 1.5px solid black;
    text-align: center;
    padding: 20px; 
}



/* If we decide to go with the list options: */

/* .notifications {
    font-size: 15px;
    text-align: left;
    font-family: sans-serif;
    margin: 0;
    padding-left: 20px;
    margin-left: 50px;
}

.notification_item{
    border: 1px black;
    padding: 3px;
    margin-bottom: 5px;
} */

