.profile-info-container h1 {
    margin-top: 20px;
}

.basic-profile-info {
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.profile-details {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
  
.profile-name-school-major {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    text-align: left;
}

.profile-name-school-major p {
    font-size: 17px;
}
  
.edit-profile,
.add-experience {
    background-color: darkgrey;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    height: 40px; 
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s ease;
    cursor: pointer;
    position: relative;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.edit-profile{
    margin-left: 10px;
}

.edit-profile:hover,
.add-experience:hover{
    background-color: green;
    color: white;
}

.profile-loading{
    margin-top: 30px;
    font-size: 20px;
    font-family: sans-serif;
}

.experience-title{
    font-size: 20px;
    margin-bottom: 10px;
}

.prof-divider {
    border: 0;
    border-top: 1px solid black;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 80%;
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}