.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-links .icon {
    width: 36px; /* Set the desired width */
    height: 36px; /* Set the desired height */
    color: #fff; /* Set the icon color if needed */
}

.nav-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}

.search-box {
    flex-grow: 0.5; /* This allows the search box to take up the available space */
    display: flex; /* Ensures the input stays centered */
    justify-content: center; /* Center the search box horizontally */
}

.search-box input {
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    font-size: 16px;
    border-radius: 15px;
}