.navbar {
    width: 100%;
    display: flex;
    align-items: center; /* vertically center items on navigation bar */
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
}

.nav-links {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.search-box {
    flex-grow: 0.5; 
    display: flex;
    justify-content: center; 
}

.search-box input {
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    font-size: 16px;
    border-radius: 15px;
}

.navbar-dropdown-button {
    background-color: white;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s ease;
    cursor: pointer;
    position: relative;
    border: none;
}

.navbar-dropdown-button:hover {
    background-color: green;
}

.navbar-dropdown-content {
    display: flex;
    flex-direction: column; /* items inside of dropdown are stacked vertically */
    position: absolute;
    top: 140%;
    right: 0;
    background-color: darkgrey;
    z-index: 1;
    min-width: 175px;
    border-radius: 10px;
}

.navbar-dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.navbar-dropdown-content a:hover {
    background-color: green;
    border-radius: 10px;
}

.navbar-dropdown-logout {
    display: flex;
    background-color: darkgrey;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    display: block;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
}

.navbar-dropdown-logout:hover {
    background-color: green;
}