.settings-page {
    display: flex;
    height: 100vh;
    text-align: center;
  }

.settings-page h1,
.settings-page h2,
.settings-page h3,
.settings-page h4,
.settings-page div {
  text-align: left;
  margin-bottom: 10px; /* Adds vertical space between each text element */
}

.settings-page h5 {
  text-align: left;
  margin-bottom: 10px;
}

hr.line {
  border: 0;
  border-top: 1px solid darkgray;
  margin-top: 15px;
  margin-bottom: 20px;
}

hr.line.toggled {
  border: 0;
  border-top: 2px solid white;
  margin: 10px 0;
}
  
.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
  }
  
.sidebar ul {
    list-style-type: none;
    padding: 0px;
  }
  
.sidebar li {
    margin-bottom: 15px;
    cursor: pointer;
    color: #333;
  }
  
.sidebar li:hover {
    color: #007bff;
  }
  
.settings-content {
    flex: 1;
    padding: 20px;
  }

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-slider {
  background-color: darkgrey;
  padding: 15px 30px;
  border-radius: 25px;
  width: 50px;
  height: 30px;
  transition: background-color 0.5s ease;
  cursor: pointer;
  position: relative;
}

.toggle-slider .thumb {
  height: 23px;
  width: 23px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-slider.toggled {
  background-color: green;
}

.toggle-slider.toggled .thumb{
  left: calc(50px - 15px);
}

.default-nav {
  background-color: darkgrey;
  color: black;
  padding: 10px 20px;
  border-radius: 25px;
  width: auto; 
  height: 40px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  transition: background-color 0.5s ease;
  cursor: pointer;
  position: relative;
}

.default-nav.toggled {
  background-color: darkgrey;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  width: auto; 
  height: 40px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  transition: background-color 0.5s ease;
  cursor: pointer;
  position: relative;
}

.default-nav:hover {
  background-color: green; 
}

.react-color .sketch-picker .hue {
  display: none !important;
}

.privacy-option {
  display: flex;
  align-items: flex-start; 
  gap: 10px; 
  margin-bottom: 20px;
}

.priv-checkbox-col {
  display: flex;
  align-items: center; 
  width: 40px; 
  padding-top: 3px;
  padding-left: 10px;
}

.priv-description-col {
  flex: 1; 
}

.label-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px; 
}

.priv-description-col p {
  margin: 0;
  font-size: 14px; 
  color: #555; 
}

.preview-link {
  background: none;
  border: none;
  color: blue; 
  text-decoration: underline;
  font-size: 14px; 
  cursor: pointer;
  padding: 0;
}

.preview-link:hover {
  color: darkblue;
  text-decoration: none; 
}

.preview-box {
  margin-top: 10px;
  padding: 10px;
  background-color: beige;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 300px;
}


.preview-box h5 {
  margin: 0 0 10px;
  font-size: 16px;
}

.preview-box ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: disc;
}

.preview-box li {
  font-size: 14px;
  line-height: 1.5;
}
